body{
	background-color: #D4E4F7;
	font-family: 'Acme', sans-serif;
}
.slideshow_img {
    width: 200px;
 }
 #nav_text{
 	color: #D61A46;
 }
 footer{
 	background-color: #340913;
 	color: white;
 }
 #header{

 }
 #footer{

 }
 #section{

 }
